* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #1b1b1b;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: black;
    text-shadow: 1px 1px white;
    text-align: center;
}
