.MovieCard p {
  font-size: 15px;
  text-align: justify;
}

.MovieCard h4 {
  font-size: 30px;
}

.MovieCard h4, h5 {
  margin: 8px 0;
}

.MovieCard h5 {
  font-size: 20px;
  opacity: 50%;
}

img {
  width: 300px;
}

.textContent {
  width: 90%;
}

