.Card {
  align-self: center;
  background-color: white;
  border: 1px gray solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 280px;
}
body {
  background-color: black;
}

img {
  width: 200px;
}

.List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  background-color: lightblue;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 500px;
}

p {
  height: 120px;
}

.rating {
  background-color: lightblue;
  border-radius: 5px;
}