body {
  background-color: black;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f32323;
  font-size: 28px;
  font-weight: 500;
  padding: 2%;
  text-align: start;
}

.movie-list {
  background-color: #181818;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 2% 0;
}

.movie-card {
  background-color: #e8e8e8;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  overflow: hidden;
  padding: 1px;
  width: 300px;
}

.movie-card-image {
  border-radius: inherit;
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
}

.movie-card-subtitle {
  color: #495158;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 50px;
}

.movie-card-storyline {
  font-size: 18px;
  padding: 0 8px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgb(0 0 0 / 15%);
  border-top: 1px solid rgb(0 0 0);
  display: flex;
  justify-content: flex-end;
}
